<div>
  <h2>Transactions</h2>

  <app-new-transaction></app-new-transaction>

  <!-- Display Loading Message -->
  <div *ngIf="transactions$ | async as transactions; else loading">
    <ul *ngIf="transactions.length > 0; else noTransactions">
      <li *ngFor="let transaction of transactions">
        <span
          >{{ transaction.transactionId }} -{{ transaction.type }} -
          {{ transaction.category }} - ${{ transaction.amount }} -
          {{ transaction.description }}</span
        >
        <button (click)="deleteTransaction(transaction.transactionId)">
          Delete
        </button>
        <app-update-transaction
          [transactionToEdit]="transaction"
        ></app-update-transaction>
      </li>
    </ul>
  </div>

  <!-- Loading Placeholder -->
  <ng-template #loading>
    <p>Loading transactions...</p>
  </ng-template>

  <!-- No Transactions Message -->
  <ng-template #noTransactions>
    <div *ngIf="error$ | async as errorMessage">
      <p class="error">{{ errorMessage }}</p>
    </div>
  </ng-template>
</div>
