<form [formGroup]="loginForm" (ngSubmit)="login()">
  <!-- email input field -->
  <div>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="email"
    />
    <!-- error message for invalid email -->
    <div *ngIf="email?.invalid && email?.touched">
      <div *ngIf="email?.hasError('required')">Email is required.</div>
      <div *ngIf="email?.hasError('email')">Please enter valid email.</div>
    </div>
  </div>
  <!-- password input field -->
  <div>
    <input
      type="password"
      id="password"
      formControlName="password"
      placeholder="password"
    />
    <!-- error message for invalid password -->
    <div *ngIf="password?.invalid && password?.touched">
      <div *ngIf="password?.hasError('required')">Password is required.</div>
      <div *ngIf="password?.hasError('minlength')">
        Password must be atleast 6 characters long.
      </div>
    </div>
  </div>
  <!-- submit button (disabled if form is invalid) -->
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
