<div class="flex flex-col gap-y-6 min-h-[600px]">
  <div class="flex items-center w-full">
    <div class="flex text-3xl font-semibold w-[50%]">Transactions</div>
    <div class="flex w-[50%] justify-end gap-x-4">
      <div
        class="flex font-semibold text-[15px] items-center gap-x-2 px-[7px] py-[4px] rounded bg-white shadow-md"
      >
        <div>{{ today | date: "fullDate" }}</div>
        <lucide-icon name="calendar-days" class="w-4 h-4"></lucide-icon>
      </div>
      <div
        class="flex font-semibold text-[15px] items-center gap-x-1 bg-sea-green text-white shadow-md px-[7px] py-[3px] rounded"
      >
        <lucide-icon name="plus" class="w-4 h-4" strokeWidth="3"></lucide-icon>
        <a routerLink="/expense/addTransaction" (click)="transferForm()"
          >Add Transaction</a
        >
      </div>
    </div>
  </div>
  <!-- table contents div -->
  <div
    class="flex flex-1 flex-col gap-y-4 px-8 py-4 bg-white shadow-md rounded"
  >
    <!-- sort options -->
    <div class="flex justify-between">
      <div class="text-2xl font-semibold">Entries</div>
      <!-- filter  -->
      <app-filter (sortChanged)="onSortChange($event)"></app-filter>
    </div>

    <div class="flex-1 relative">
      <!-- loading  -->
      <div
        *ngIf="loading$ | async; else dataLoaded"
        class="flex justify-center items-center"
      >
        <app-loading></app-loading>
      </div>
      <!-- transactions -->
      <ng-template #dataLoaded>
        <div *ngIf="transactions$ | async as transactions">
          <div
            *ngIf="transactions.length > 0; else noTransactions"
            class="relative overflow-auto pb-10"
          >
            <table class="w-full text-left text-gray-500">
              <thead class="bg-green4 text-green10 font-semibold">
                <tr>
                  <th scope="col" class="px-6 py-3 rounded-l-sm">
                    Description
                  </th>
                  <th scope="col" class="px-6 py-3">Category</th>
                  <th scope="col" class="px-6 py-3 text-end">Amount</th>
                  <th scope="col" class="px-6 py-3 text-end">Date</th>
                  <th scope="col" class="px-6 py-3 rounded-r-sm text-center">
                    More
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- The paginate pipe filters the transaction array to show only 3 items per page based on p(current page) -->
                <tr
                  *ngFor="let transaction of transactions"
                  class="bg-white border-b border-grey3 hover:bg-green2 text-sm"
                >
                  <th class="px-6 py-4 text-gray-900 rounded-l-sm">
                    {{
                      transaction.description
                        ? transaction.description
                        : transaction.type === "Income"
                          ? "Money received"
                          : "Money spent"
                    }}
                  </th>
                  <th class="flex items-center gap-x-2 font-bold px-6 py-4">
                    <span
                      class="border-2 rounded-full p-1"
                      [style.background-color]="
                        getCategoryDetails(transaction.category).bg_color
                      "
                      [style.border-color]="
                        getCategoryDetails(transaction.category).bg_color
                      "
                    >
                      <lucide-icon
                        [name]="getCategoryDetails(transaction.category).icon"
                        [style.color]="
                          getCategoryDetails(transaction.category).color
                        "
                        class="w-5 h-5"
                      ></lucide-icon
                    ></span>
                    <span
                      [style.color]="
                        getCategoryDetails(transaction.category).color
                      "
                      >{{ transaction.category }}</span
                    >
                  </th>
                  <th class="px-6 py-4 text-end">
                    <span
                      [ngClass]="
                        transaction.type === 'Income'
                          ? 'text-green9'
                          : 'text-red-500'
                      "
                      >{{ transaction.type === "Income" ? "+" : "-" }}
                      {{ transaction.amount | currency: "INR" }}</span
                    >
                  </th>
                  <th class="px-6 py-4 text-end">
                    {{ transaction.date | date: "mediumDate" }}
                  </th>
                  <th class="px-6 py-4 rounded-r-sm">
                    <div class="flex gap-x-2 justify-center">
                      <button
                        (click)="openUpdateModal(transaction)"
                        mat-button
                        style="color: blue"
                      >
                        Edit
                      </button>
                      <button
                        (click)="confirmDelete(transaction)"
                        mat-button
                        style="color: red"
                      >
                        Delete
                      </button>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
            <!-- when user clicks next or previous page change updates p
            and table automatically updates to show transactions for new page -->
          </div>
          <div class="absolute bottom-0 w-full">
            <div class="w-full border"></div>
            <div
              *ngIf="pagination$ | async as pagination"
              class="flex px-4 w-full justify-between pt-2"
            >
              <div class="flex flex-start items-center gap-x-1">
                <span class="text-grey11"> Entries per page:</span>
                <select
                  name="pageSize"
                  id="pageSize"
                  (change)="onPageSizeChange($event)"
                  [value]="pageSize"
                  class="border border-grey5 text-grey11 text-sm cursor-pointer rounded hover:bg-green3 focus:ring-green7 focus:border-green5 block w-24"
                >
                  <!-- class="border border-grey8 rounded-md   " -->
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <div class="flex flex-end gap-x-2 text-sm">
                <button
                  class="border border-grey5 px-2 py-1 rounded bg-grey4 hover:bg-green3 cursor-pointer"
                  (click)="onPageChange(pagination.currentPage - 1)"
                  [disabled]="pagination.currentPage == 1"
                >
                  previous
                </button>
                <!-- <span
                  >Page {{ pagination.currentPage }} of
                  {{ pagination.totalPages }}</span
                > -->
                <button
                  class="border border-grey5 px-2 py-1 rounded bg-grey4 hover:bg-green3 cursor-pointer"
                  (click)="onPageChange(pagination.currentPage + 1)"
                  [disabled]="pagination.currentPage === pagination.totalPages"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- No Transactions Message -->
      <ng-template #noTransactions>
        <div *ngIf="error$ | async as errorMessage">
          <p class="error">{{ errorMessage }}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- <label for="sort">
          <lucide-icon
            name="arrow-up-down"
            class="w-4 h-4 text-grey9 group-hover:text-sea-green"
          ></lucide-icon>
        </label>
        <select
          id="sort"
          (change)="onSortChange($event)"
          class="w-full select-none group-hover:bg-green2 overflow-hidden cursor-pointer"
        >
          <option disabled selected>Filter</option>
          <option value="date_desc">Date (Newest First)</option>
          <option value="date_asc">Date (Oldest First)</option>
          <option value="amount_desc">Amount (High to Low)</option>
          <option value="amount_asc">Amount (Low to High)</option>
          <option value="recipient_asc">Recipient (A-Z)</option>
          <option value="recipient_desc">Recipient (Z-A)</option>
        </select> -->
<!-- </div> -->
