<div>
  <h2>Transactions</h2>

  <select (change)="onSortChange($event)">
    <option value="date_desc">Date (Newest First)</option>
    <option value="date_asc">Date (Oldest First)</option>
    <option value="amount_desc">Amount (High to Low)</option>
    <option value="amount_asc">Amount (Low to High)</option>
    <option value="recipient_asc">Recipient (A-Z)</option>
    <option value="recipient_desc">Recipient (Z-A)</option>
  </select>

  <!-- Loading Placeholder -->
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <!-- No Transactions Message -->
  <ng-template #noTransactions>
    <div *ngIf="error$ | async as errorMessage">
      <p class="error">{{ errorMessage }}</p>
    </div>
  </ng-template>

  <div *ngIf="transactions$ | async as transactions; else loading">
    <div *ngIf="transactions.length > 0; else noTransactions">
      <table cellspacing="0" cellpadding="10">
        <thead>
          <tr>
            <th>category</th>
            <th>type</th>
            <th>amount</th>
            <th>Date</th>
            <th>description</th>
            <th>options</th>
          </tr>
        </thead>
        <tbody>
          <!-- The paginate pipe filters the transaction array to show only 3 items per page based on p(current page) -->
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount | currency : "INR" }}</td>
            <td>{{ transaction.date | date : "mediumDate" }}</td>
            <td>{{ transaction.description || "N/A" }}</td>
            <td>
              <button
                (click)="openUpdateModal(transaction)"
                mat-button
                style="color: blue"
              >
                Update
              </button>
              <button
                (click)="confirmDelete(transaction)"
                mat-button
                style="color: red"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- when user clicks next or previous page change updates p
      and table automatically updates to show transactions for new page -->

      <div
        *ngIf="pagination$ | async as pagination"
        style="display: flex; justify-content: space-between; width: 600px"
      >
        <div>
          Items per page:
          <select
            name="pageSize"
            id="pageSize"
            (change)="onPageSizeChange($event)"
            [value]="pageSize"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
        </div>
        <div>
          <span
            >Page {{ pagination.currentPage }} of
            {{ pagination.totalPages }}</span
          >
          <button
            (click)="onPageChange(pagination.currentPage - 1)"
            [disabled]="pagination.currentPage == 1"
          >
            previous
          </button>
          <button
            (click)="onPageChange(pagination.currentPage + 1)"
            [disabled]="pagination.currentPage === pagination.totalPages"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
