<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  <label for="type">Type:</label>
  <select id="type" formControlName="type">
    <option value="Income">Income</option>
    <option value="Expense">Expense</option>
  </select>

  <label for="category">Category: </label>
  <input type="text" id="category" formControlName="category" required />
  <span
    *ngIf="
      transactionForm.controls['category'].touched &&
      transactionForm.controls['category'].invalid
    "
  >
    Enter a valid category
  </span>

  <label for="date">Date: </label>
  <input type="date" id="date" formControlName="date" required />

  <label for="amount">Amount:</label>
  <input id="amount" type="number" formControlName="amount" required />
  <span
    *ngIf="
      transactionForm.controls['amount'].touched &&
      transactionForm.controls['amount'].invalid
    "
  >
    Amount must be greater than 0!
  </span>

  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>

  <button type="submit">
    {{ isEditmode ? "Update" : "Add Transaction" }}
  </button>

  <button type="button" (click)="cancelTransaction()">Cancel</button>
</form>
