<h2>Dashboard</h2>

<h4>{{ today | date : "fullDate" }}</h4>

<app-new-transaction></app-new-transaction>

<div *ngIf="totalIncome$ | async as total; else loading">
  Total income {{ total | currency : "INR" }}
</div>

<div *ngIf="totalExpenses$ | async as total; else loading">
  Total Expenses {{ total | currency : "INR" }}
</div>

<div *ngIf="netBalance$ | async as total; else loading">
  Net Balance {{ total | currency : "INR" }}
</div>
<!-- Loading Placeholder -->
<ng-template #loading>
  <p>Loading Income...</p>
</ng-template>
